@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    /* 1rem = 10px */

    --title-font: 'Montserrat', sans-serif;
    --default-font: 'Open Sans', sans-serif;

    --bg-color: rgb(220, 220, 220);
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "header"
        "main";
    
    background-color: var(--bg-color);
    color: black;
    font-family: var(--default-font);
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

body * {
    font-size: 1.6rem;
    font-family: var(--default-font);
}

h1 {
    font-size: 3rem !important;
}

h2 {
    font-size: 2rem !important;
}

header {
    display: flex;
    grid-area: header;
    background-color: rgb(35, 35, 35);
    color: white;
    padding: 2rem 4rem;
    font-family: var(--title-font);
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav, nav a {
    justify-content: center;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav li:hover {
    opacity: 0.5;
    transition: 0.2s opacity;
}

main {
    display: block;
    margin: 2rem;
    border: none;
    border-radius: 1rem;
    width: auto;
    grid-area: main;
    overflow-y: auto;
    background-color: white;
}
